*{
    text-decoration: none;
}

.up-container{
    background-color:#141414;
    height:200px;
    display:grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
}

.gap-color{
    background-color: rgb(77, 61, 50);
    height: 100%;
}

.column-1  h3, .column-2  h3, .column-3 h3{
color: #B77724;
text-align: center;
font-family: 'Miriam Libre', sans-serif;
font-size: 20px;
letter-spacing: 0.1em;
}

.column-1, .column-2, .column-3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.column-1 p, .column-2 p, .column-3 p{
    position:static;
    background-color:#14141400;
    text-align: center;
    padding: 0px;
    border-radius: 0px;
    }

.container0{
    margin: 60px 0;
}

.box-container0 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 1.5rem;
}

.box0 {
    width: 100%;
    max-width: 520px;
    background-color: #141414;
    border-radius: .5rem;
    position: relative;
    align-items: center;
}

.tab{
display:flex;
flex-direction: column;
}

.container0 h5{
    font-family: 'Nova Square', sans-serif;
    color:white;
    font-size: 3vw;
    text-align: center;
}

.beer-pic{
    background-color: #393733;
    padding:5px;
    border-radius: 25px;
    width: 12em;
}

.beer-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 20px;
}

.info-start{
    width: 100%;
    height: 100%;
    border-collapse:separate;
}

.th-main{
    background-color: #393733;
    font-family: 'Miriam Libre', sans-serif;
    font-weight:bold;
    color: white;
    text-align:center;
}

.th-sec{
    background-color: #BBB3AF;
    font-family: 'Miriam Libre', sans-serif;
    color: #a06314;
    text-align:center;
    transition: all 0.5s;
}

 th{
    transition: all 0.5s;
 }

.th-sec a{
    color: #a06314;
    transition: all 0.5;
}

.th-sec:hover a{
    background-color:#a06314;
    color:#BBB3AF;
}

p{
    color: #BBB3AF;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 18px;
    text-align: justify;
    width:100%;
    background-color: #393733;
    padding: 10px;
    border-radius: 12px;
}

.image0 {
    
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
/*responsive*/

@media(max-width: 960px){

    .up-container{
        display:block;
        height:auto;
        padding:0;
    }


    .gap-color{
        display: block;
        height:1px;
    }
}

@media (max-width:670px){

    .box-container0 {
        grid-template-columns: 1fr;
    }

    .container0 h5{
        font-size: 6vw;
    }


}